import os
import sys

if os.getenv("GITHUB_ACTIONS") != "true":
    print("This script is intended to be run only in GitHub Actions CI/CD.")
    sys.exit(1)

openai
requests
beautifulsoup4
newspaper3k
snowflake-connector-python
streamlit
python-dotenv
pandas
transformers
torch